<%- include('partials/header') %>
    <div class="button-container">
        <h1>Welcome to Share-Thing</h1>
        <br>
        <a class="login-btn" href="/login">Login</a>
        <a class="signup-btn"href="/signup">SignUp</a>
       
    </div>

    <%- include('partials/footer') %>